extends layout

block content
  p#welcome Hello Yose - Welcome to #{title}
  ul
    li
      a(href="/ping")#ping-challenge-link ping
    li
      a(href="http://pedrowood.wordpress.com")#contact-me-link about me
    li
      a(href="https://github.com/woodp/yose")#repository-link repository
    li
      a(href="/primeFactors/ui")#prime-factors-decomposition-link