extends layout

block content

  script(src="http://code.jquery.com/jquery-2.0.3.min.js")
  script(src="/javascripts/minesweeper.js")

  h1#title #{title}
    
  table#cell-nxp
    tr
      td#cell-1x1 &nbsp;
      td#cell-1x2 &nbsp;
      td#cell-1x3 &nbsp;
      td#cell-1x4 &nbsp;
      td#cell-1x5 &nbsp;
      td#cell-1x6 &nbsp;
      td#cell-1x7 &nbsp;
      td#cell-1x8 &nbsp;
    tr
      td#cell-2x1 &nbsp;
      td#cell-2x2 &nbsp;
      td#cell-2x3 &nbsp;
      td#cell-2x4 &nbsp;
      td#cell-2x5 &nbsp;
      td#cell-2x6 &nbsp;
      td#cell-2x7 &nbsp;
      td#cell-2x8 &nbsp;
    tr
      td#cell-3x1 &nbsp;
      td#cell-3x2 &nbsp;
      td#cell-3x3 &nbsp;
      td#cell-3x4 &nbsp;
      td#cell-3x5 &nbsp;
      td#cell-3x6 &nbsp;
      td#cell-3x7 &nbsp;
      td#cell-3x8 &nbsp;
    tr
      td#cell-4x1 &nbsp;
      td#cell-4x2 &nbsp;
      td#cell-4x3 &nbsp;
      td#cell-4x4 &nbsp;
      td#cell-4x5 &nbsp;
      td#cell-4x6 &nbsp;
      td#cell-4x7 &nbsp;
      td#cell-4x8 &nbsp;
    tr
      td#cell-5x1 &nbsp;
      td#cell-5x2 &nbsp;
      td#cell-5x3 &nbsp;
      td#cell-5x4 &nbsp;
      td#cell-5x5 &nbsp;
      td#cell-5x6 &nbsp;
      td#cell-5x7 &nbsp;
      td#cell-5x8 &nbsp;
    tr
      td#cell-6x1 &nbsp;
      td#cell-6x2 &nbsp;
      td#cell-6x3 &nbsp;
      td#cell-6x4 &nbsp;
      td#cell-6x5 &nbsp;
      td#cell-6x6 &nbsp;
      td#cell-6x7 &nbsp;
      td#cell-6x8 &nbsp;
    tr
      td#cell-7x1 &nbsp;
      td#cell-7x2 &nbsp;
      td#cell-7x3 &nbsp;
      td#cell-7x4 &nbsp;
      td#cell-7x5 &nbsp;
      td#cell-7x6 &nbsp;
      td#cell-7x7 &nbsp;
      td#cell-7x8 &nbsp;
    tr
      td#cell-8x1 &nbsp;
      td#cell-8x2 &nbsp;
      td#cell-8x3 &nbsp;
      td#cell-8x4 &nbsp;
      td#cell-8x5 &nbsp;
      td#cell-8x6 &nbsp;
      td#cell-8x7 &nbsp;
      td#cell-8x8 &nbsp;
      
      
  button#sample load sample 8x8 grid
  button#sample3 load sample 3x3 grid